.school-card {
    margin: 10px;
    box-shadow: lightgrey 3px 3px 2px;
    padding: 5px;
    background-color: #fdfdfd;
    border-radius: 5px;
}

p {
    margin: 0;
}

.small {
    font-size: 0.9em;
}