main {
    display: flex;
    height: 91vh;
}

.left-actions {
    background: #fdfdfd;
    width: 25%
}

.locations-list {
    overflow: auto;
    max-height: 83vh;
}

#map {
    flex-grow: 1;
    margin: 5px;
}